@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Light.woff2") format("woff2");
  font-weight: 300;
}

body.active {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "PlusJakartaSans", sans-serif;
  color: #222222;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background-color: #f4f4f4;
  background-size: contain;
  background-repeat: repeat;
  color: #222222;
  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -0.6%;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.reveal {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reveal img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body:not(.no-js) .image-wrap {
  -webkit-transition: 2.2s ease-in-out;
  transition: 2.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  position: relative;
  width: auto;
  overflow: hidden;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;
}

body:not(.no-js) .animating .image-wrap {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  visibility: visible;
  -webkit-transform: skewY(0);
          transform: skewY(0);
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1426px;
  padding: 0 15px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -15px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.header {
  padding: 34px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container {
  max-width: 1590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hamburger {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header .hamburger span {
  background: #222222;
  width: 40px;
  height: 2px;
  right: 0;
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .hamburger span:nth-child(1) {
  top: 10px;
}

.header .hamburger span:nth-child(2) {
  width: 33px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .hamburger span:nth-child(3) {
  width: 33px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .hamburger span:nth-child(4) {
  bottom: 10px;
}

.header .hamburger.active .span:nth-child(1) {
  width: 0;
  right: 50%;
  opacity: 0;
}

.header .hamburger.active .span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger.active .span:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header .hamburger.active .span:nth-child(4) {
  width: 0;
  left: 50%;
  opacity: 0;
}

.hero-screen {
  padding: 178px 0 35px 0;
  border-bottom: 1px solid #000000;
}

.hero-screen .container {
  position: relative;
}

.hero-screen-cta {
  position: absolute;
  bottom: 70px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotation 12s infinite linear;
}

.hero-screen-subtitle {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.hero-screen-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-screen-title .title-item {
  cursor: pointer;
  position: relative;
  width: auto;
  height: 150px;
}

.hero-screen-title .title-item:hover .default {
  opacity: 0;
}

.hero-screen-title .title-item:hover .hover {
  opacity: 1;
}

.hero-screen-title img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-screen-title .hover {
  opacity: 0;
}

.hero-screen-title img,
.hero-screen-title svg {
  margin-bottom: 50px;
}

.cases__heading {
  margin: 200px 0 200px 120px;
  width: 970px;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
}

.cases__title {
  font-weight: 300;
  font-size: 100px;
  line-height: 150px;
  margin-bottom: 100px;
}

.cases-list .case-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cases-list .case-item:nth-child(even) .case-item-info {
  padding: 0 0 0 120px;
}

.cases-category {
  margin-bottom: 400px;
}

.case-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.case-item-info {
  width: 50%;
  padding: 0 120px 0 0;
}

.case-item__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.case-item__category {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 80px;
  color: #797979;
}

.case-item__description {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 80px;
}

.case-item__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 32px;
  border: 1px solid #222222;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.case-item__link line {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.case-item__link:hover {
  background: #222222;
}

.case-item__link:hover line {
  stroke: #ffffff;
}

.case-item-image {
  width: 50%;
}

.case-item-image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer .container {
  padding: 280px 0;
  border-top: 1px solid #222222;
}

.footer-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 175px;
}

.footer-cta a {
  display: block;
  position: relative;
}

.footer-cta a:before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-cta a:after {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: linear-gradient(63.25deg, #FFE32A -5.4%, #FFAA00 40.94%, #FF4700 86.29%);
}

.footer-cta a:hover:after {
  width: 100%;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-email {
  position: relative;
}

.footer .footer-email:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .footer-email:after {
  content: '';
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: linear-gradient(63.25deg, #FFE32A -5.4%, #FFAA00 40.94%, #FF4700 86.29%);
}

.footer .footer-email:hover:after {
  width: 100%;
}

.footer-links__item {
  margin-right: 140px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.footer-links__item:before {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-links__item:hover:before {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */