@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "PlusJakartaSans";
  font-display: swap;
  src: url("../fonts/PlusJakartaSans-Light.woff2") format("woff2");
  font-weight: 300;
}



$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

$white: #ffffff;
$text: #222222;
$black: #000000;
$background: #F4F4F4;


body.active {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "PlusJakartaSans", sans-serif;
  color: $text;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background-color: $background;
  background-image: url('../img/bg.png');
  background-size: cover;
  color: $text;
  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -0.6%;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1426px;
  padding: 0 15px;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

@mixin grid-size($size) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $size;
  -ms-flex: 0 0 $size;
  flex: 0 0 $size;
  max-width: $size;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
    padding: 0 15px;
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-xl)) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

/* small phones grid*/
@media (max-width: (475px)) {
  @for $i from 1 through 12 {
    .col-exs-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.header {
  padding: 34px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &-logo {
    display: flex;
  }
  .container {
    max-width: 1590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    span {
      background: $text;
      width: 40px;
      height: 2px;
      right: 0;
      display: block;
      position: absolute;
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        width: 33px;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:nth-child(3) {
        width: 33px;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:nth-child(4) {
        bottom: 10px;
      }
    }
    &.active {
      .span {
        &:nth-child(1) {
          width: 0;
          right: 50%;
          opacity: 0;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(135deg);
        }
        &:nth-child(4) {
          width: 0;
          left: 50%;
          opacity: 0;
        }
      }
    }
  }
}

.hero-screen {
  padding: 178px 0 35px 0;
  border-bottom: 1px solid $black;
  .container {
    position: relative;
  }
  &-cta {
    position: absolute;
    bottom: 70px;
    right: 0;
    display: flex;
    -webkit-animation: rotation 12s infinite linear;
  }
  &-subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-item {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 150px;
      &:hover {
        .default {
          opacity: 0;
        }
        .hover {
          opacity: 1;
        }
      }
    }
    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      transition: all .3s ease-in-out;
    }
    .hover {
      opacity: 0;
    }
    img, svg {
      margin-bottom: 50px;
    }
  }
}